‎style.css‎
+26
台词变动：新增26条，删除0条
原始文件行编号	差分线号	差速器线路更换
@@ -351,3 +351,29 @@ a {
    position: absolute;
    pointer-events: none;
}
#fluidMapWrapper {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#liquidMap {
    width: 80%;
    height: 620px;
}
#mapInfo {
    position: absolute;
    background: rgba(10,15,25,0.85);
    padding: 12px 18px;
    border: 1px solid #4af1ff66;
    border-radius: 10px;
    color: #d0e7ff;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s ease;
    z-index: 9999;
}
